<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="countryConstructor" class="com.sbai.salah.maven_spring.Country">
        <constructor-arg value="France" />
        <constructor-arg value="67000000" />
    </bean>

    <bean id="countrySetter" class="com.sbai.salah.maven_spring.Country">
        <property name="name" value="Germany" />
        <property name="population" value="83000000" />
    </bean>
    <bean id="countryFactory" class="com.sbai.salah.maven_spring.CountryServiceFactory" />

    <bean id="countryFromFactory" factory-bean="countryFactory" factory-method="getInstance">
        <constructor-arg value="Italy" />
        <constructor-arg value="60000000" />
    </bean>



</beans>
